.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form {
  background: #ececec;
  padding: 24px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  font-size: 14px;
}
